.users-root,
.edit-user-root {
  margin-top: 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.users-root {
  margin-top: 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .users-group {
    width: 700px;
  }
  .user-item,
  .user-info,
  .user-btn {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .user-item {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1.4rem;
    border: 1px solid #f5f5dc;
  }
  .user-info {
    flex-grow: 1;
    margin-right: 20px;
    background-color: #f5f5dc;
    color: #6a6464;
    & > * {
      flex: 1 1;
      padding: 5px 10px;
      white-space: nowrap;
      width: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
  }
  .user-name {
    margin-right: 15px;
  }
  .user-btn {
    & > *:first-child {
      margin-right: 15px;
    }
  }
}
