.header-chat {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 1.25rem;
  padding: 10px;
  border: 1px solid var(--second-color);
  color: var(--second-color);
  border-radius: 4px;
}
