.message-edit-root {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .message-edit-content {
    width: 500px;
    display: flex;
    flex-flow: column nowrap;
  }
  textarea {
    width: 100%;
    height: 400px;
    font-size: 1.35rem;
    outline: none;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    & > *:first-child {
      margin-right: 15px;
    }
  }
  .message-wrong {
    font-size: 1.5rem;
  }
}
