.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--second-color);
  color: var(--second-color);
  font-size: 1.35rem;
  background-color: beige;
  padding: 10px 20px;
  .header-content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    & > *:not(:last-child) {
      margin-right: 15px;
    }
  }
  .header-logo {
    img {
      height: 40px;
    }
  }
  a {
    text-decoration: none;
    color: var(--second-color);
  }
  .header-avatar {
    cursor: pointer;
  }

  .header-userbar {
    display: flex;
    align-items: center;
    & > *:not(:last-child) {
      margin-right: 15px;
    }
    i {
      cursor: pointer;
    }
    .header-name {
      margin-right: 10px;
      font-weight: bold;
      height: 20px;
    }
  }
}
