.divider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  font-size: 1.2rem;
  border-top: 1px solid gray;
}

.messages-divider {
  background-color: gray;
  border-radius: 2px;
  color: white;
  position: absolute;
  padding: 3px 15px;
  z-index: 1;
}
