.img {
  width: 100%;
  height: 100%;
}
.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffbfbf;
  padding: 5px;
  font-size: 1.2rem;
  word-break: break-all;
  overflow: hidden;
}
