$color: #f2f2f2;

.login-root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 1.4rem;
  .login {
    width: 400px;
    background-color: $color;
    padding: 20px;
    border-radius: 5px;
  }
  .login-title {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 15px;
  }
}
