.edit-user-root {
  font-size: 1.4rem;
  .edit-user-title {
    text-align: center;
    margin-bottom: 20px;
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    & > *:first-child {
      margin-right: 15px;
    }
  }
  .message-wrong {
    font-size: 1.5rem;
  }
}
