.btn {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
}

.btn-light {
  color: var(--second-color);
  background-color: white;
  border-color: var(--second-color);
}

.btn-light:hover {
  background-color: #e1e1e1;
  color: black;
}

.btn-success {
  background-color: var(--success-color);
  color: white;
  border-color: var(--success-color);
  &:hover {
    background-color: #207d24;
    border-color: #207d24;
  }
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
}

.btn-outline-primary {
  border-color: var(--primary-color);
  color: var(--primary-color);
  background-color: white;
  &:hover {
    color: white;
    background-color: var(--primary-color);
  }
}

.btn-outline-dark {
  border-color: black;
  color: black;
  background-color: white;
  &:hover {
    color: white;
    background-color: black;
  }
}
