@import './buttons.scss';
@import './form.scss';
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
* {
  box-sizing: border-box;
  --success-color: #4caf50;
  --second-color: gray;
  --primary-color: #007bff;
}
textarea {
  outline: none;
}

h5,
h2,
h3 {
  margin: 0;
}
