.wrapper-preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 1100;

  .preloader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #0dcaf0;
    border-bottom: 16px solid #0dcaf0;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
